body {
	font-family: Arial;
}

.screen {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

#scroll_prompt {
	position: absolute;
	bottom: 5vh;
	right: 5vw;
	text-align: center;
	font-size: 4vh;
	font-family: 'The Girl Next Door', cursive;
	color: gray;
}

#screen-1 {
	top: -100vh;
	background: gold;
}

#screen-2 {
	top: 100vh;
	background: orange;
}

#screen-3 {
	right: -100vw;
	top: 0;
	background: lightblue;
}

#main_content h1{
	text-align: center;
	font-size: 13vh;
	position: relative;
	top: 5vh;
	z-index: 7777;
	margin-bottom: 0;
	color: white;
	text-shadow: 1px 1px 1px gold;
}


.scene-3 #main_content h1 {
	text-shadow: 0px 0px 0px white;
}

#main_content h2 {
	text-align: center;
	z-index: 7777;
	display: none;
	position: relative;
	font-size: 5vh;
	font-family: 'The Girl Next Door', cursive;
	top: 5vh;
}


@media screen and (max-width: 800px) {
	#main_content h1{
		font-size: 8vh;
		top: 10vh;
	}

	#main_content h2{
		font-size: 3vh;
		top: 10vh;
	}
}


#main_content h2, #main_content a{
	color: white;
}

#main_content a{
	font-family: Arial, sans-serif;
}

.scene-13 #main_content h2 {
	display: block;
}

#tsb {
	width: 5vw;
	height: 95vh;
	position: absolute;
	top: 2.5vh;
	right: 2.5vh;
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid white;
	z-index: 7777;
	color: white;
	opacity: 0;
}

#tsb p {
	text-align: center;
	position: relative;
	left: -20vw;
	width: 18vw;
	font-size: 4vh;
	font-family: 'The Girl Next Door', cursive;
}

#tsb p span{
	display: none;
	line-height: 1.4;
}

.scene-4 #tsb-1 {

	display: block;
}

.scene-5 #tsb-2 {

	display: block;
	font-size: 8vh;
}

.scene-6 #tsb-3 {

	display: block;
}

.scene-7 #tsb-4 {

	display: block;
}

#rect-1 {
	position: absolute;
	bottom: 10vh;
	height: 1vh;
	width: 0;
	background: white;
}

#rect-2 {
	position: absolute;
	bottom: 10vh;
	height: 0vh;
	width: 1vh;
	background: white;
	left: 50vw;
}

#rect-3 {
	position: absolute;
	bottom: 50vh;
	height: 1vh;
	width: 0;
	background: white;
	left: 50vw;
}

#rect-4 {
	position: absolute;
	bottom: 50vh;
	height: 1vh;
	width: 0;
	background: white;
	left: 50vw;
}