.screen {
	width: 100%;
	height: 100%;
	position: absolute;
}

#screen-1 {
	top: -100%;
	background: yellow;
}

#screen-2 {
	top: 100%;
	background: orange;
}

#screen-3 {
	left: 100%;
	background: green;
}